<!-- Main content -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="padding-top: 50px;font-family: PFHandbookPro;">
    <div class="inner-adjust">
      <div class="pb-2 mb-3 border-bottom">
        <h1 class="h2">Welcome!</h1>
      </div>
      
        <div class="col-md-12">
          <div class="media">
            <img class="align-self-start rounded-circle" style="width: 200px;height: 200px;" src="assets/dummy-user.jpg">
            <div class="media-body" style="padding-top: 20px;">
              <!-- <p>Hello: <strong>{{data.name}}</strong></p>
              <p>Email: <strong>{{data.email}}</strong></p>
              <p>Age: <strong>{{data.age}}</strong></p>
              <p>Gender: <strong>{{data.gender}}</strong></p>
              <p>Department: <strong>{{data.department}}</strong></p>
              <p>City: <strong>{{data.city}}</strong></p> -->
            </div>
          </div>
        </div> 
    </div>
    
    
<!-- 
    <div style="display: block">
      <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"></canvas>
    </div>
 -->
<!-- 
 <canvas id="myChart" baseChart
        [datasets]="myChart.data.datasets"
        [labels]="myChart.data.labels"
        [options]="myChart.options"
        [legend]="myChart.legend"></canvas>


    <div class="chart-wrapper">
      <canvas baseChart 
      [data]="pieChartData" 
      [labels]="pieChartLabels" 
      
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend">
    </canvas>
  </div> -->

  </main> 
